body{
	margin:0;
	padding:0;
}

p{
	text-align: left;
	justify-content: center;
	vertical-align: middle;
	margin:50px;
	font-size:20px;
}

p span1{
	color: #CDCACB
}

p span2 {
	color: #A79c95
}

p span3{
	color: #c6ab97
}

p span4{
	color: #afa9a9
}

p span5{
	color: #896058
}

p span6{
	color: #b3a3a0
}

p span7{
	color: #a89c9a
}

p span8{
	color: #a7b2b5
}

p span9{
	color: #d3cdcb
}

p span10{
	color: #9a9f95
}

p span11{
	color: #a39a96
}

p span12{
	color: #6c6958
}

p span13{
	color: #beadae
}

p span14{
	color: #d6d5d3
}

p span15{
	color: #9b9779
}

p span16{
	color: #948b82
}

p span17{
	color: #baa29d
}

p span18{
	color: #c6c4b9
}

p span19{
	color: #bac799
}

p span20{
	color: #c0cab7
}

p span21{
	color: #cbbbbb
}

p span22{
	color: #bec4c5
}

p span41{
	color: #c6c3bf
}

p span23{
	color: #b09587
}

p span24{
	color: #857871
}

p span25{
	color: #7e847b
}

p span26{
	color: #a98d8c
}

p span28{
	color: #b0b9c5
}

p span29{
	color: #6e8a9b
}

p span30{
	color: #A39e94
}

p span31{
	color: #c0b79f
}

p span32{
	color: #a09b99
}

p span33{
	color: #b5a097
}

p span34{
	color: #bbc2c4
}

p span35{
	color: #4d4c4a
}

p span36{
	color: #d3cccc
}

p span37{
	color: #dbb9ad
}

p span38{
	color: #a59f99
}

p span39{
	color: #afb5b1
}

p span40{
	color: #a49790
}

p span42{
	color: #bcbaae
}

h1 span1{
	color: #b3a3a0
}

h1 span2{
	color: #a89c9a
}

h1 span3{
	color: #a7b2b5
}

h1{
	font-style: italic;
	text-align: justify;
	justify-content: center;
	margin:50px;
	vertical-align: middle;
}
